[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
json = "==2.0.9"
boto3 = "==1.39.2"
streamlit = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
